.detail{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.img-div,.list{
    height: 120%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img{
    border: 1px solid rgb(176, 174, 174);
    width: 80%;
    height: 60%;
    
}
.img img{
    width: 70%;
    height:90%;
    margin-left: 50px;
}

.btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding:10px 30px;
}

.addToCart-button{
    font-weight: bold;
    font-size: 16px;
    border: 1px solid rgb(159, 32, 137);
    padding:10px 30px;
    border-radius: 6px ;
    color: rgb(159, 32, 137);
    background-color: transparent;
}
.buyNow-button{
    font-weight: bold;
    font-size: 16px;
    background-color: rgb(159, 32, 137);
    color: white;
    border: none;
    border-radius: 6px ;
    padding:10px 30px


}
.cart-logo{
    color: rgb(159, 32, 137) !important;
}
.arrow-logo{
    padding: 0px;
    margin-top: 6px;
    font-size: 18px !important;
}

.titlePrice{
    border: 1px solid rgb(176, 174, 174);
    width: 80%;
    padding: 20px;
} 
.title{
    color: rgb(139, 139, 163);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
}
.price{
    color: rgb(53, 53, 67);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    margin: 0px;
    padding: 0px;
}
.list .titlePrice .ratingg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 4px 8px;
    background: rgb(35, 187, 117);
    color: rgb(255, 255, 255);
}
.delivery-div{
    color: rgb(97, 97, 115);
    font-style: normal;
    font-size: 12px;
    text-align: center;
    margin-right: 280px;
    padding: 0px;
} 

.des{
    border: 1px solid rgb(176, 174, 174);
    padding: 20px;
    margin: 10px 24px;
}
.des h3{
    color: rgb(14, 14, 15)
}
.des p{
    color: rgb(97, 97, 115);
    font-size: 14px;
}