.detail{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84vh;
}
.img-div,.list{
    height: 120%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.img{
    border: 1px solid rgb(176, 174, 174);
    border-radius: 4px;
    width: 80%;
    height: 60%;
    
}
.img img{
    width: 70%;
    height:90%;
    margin-left: 50px;
}

.btn{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding:10px 30px;
}

.addToCart-button{
    font-weight: bold;
    font-size: 16px;
    border: 1px solid rgb(159, 32, 137);
    width: 20vw;
    padding:6px 0px;
    border-radius: 6px ;
    background-color: rgb(159, 32, 137);
    position: absolute;
    bottom: 166px;
    right:72px;
    color: white;
}

.cart-logo{
    color: rgb(248, 247, 248) !important;
}
.arrow-logo{
    padding: 0px;
    margin-top: 6px;
    font-size: 18px !important;
}

.titlePrice{
    border: 1px solid rgb(176, 174, 174);
    border-radius: 4px;
    width: 80%;
    padding:34px 20px 18px 20px ;
} 
.title{
    color: rgb(139, 139, 163);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    margin: 0px;
    padding: 0px;
    
}
.price{
    color: rgb(53, 53, 67);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    margin: 0px;
    padding: 0px;
}
.list .titlePrice .ratingg{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 6px 8px;
    background: rgb(35, 187, 117);
    color: rgb(255, 255, 255);
}
.delivery-div{
    color: rgb(97, 97, 115);
    font-style: normal;
    font-size: 12px;
    text-align: center;
    margin-right: 280px;
    padding: 0px;
} 

.des{
    border: 1px solid rgb(176, 174, 174);
    border-radius: 4px;
    padding: 20px;
    margin: 16px 24px;
}
.des h3{
    color: rgb(14, 14, 15)
}
.des p{
    color: rgb(97, 97, 115);
    font-size: 14px;
}

@media (max-width: 767px){
    .img-div,.list{
        width: 100vw;
    }
    .titlePrice{
        width: 30vw;
        height: 30vh;
    }
    .addToCart-button{
        font-weight: bold;
        font-size: 16px;
        border: 1px solid rgb(159, 32, 137);
        width: 39vw;
        height: 6vh;
        border-radius: 6px ;
        background-color: rgb(159, 32, 137);
        position: absolute;
        bottom: 166px;
        right:3.5px;
        color: white;
    }
    .delivery-div{
        margin-right:220px;
    }
    .des{
        width: 30vw;
        height: 30vh;
        font-size: 14px;
    }
    .des p{
        font-size: 10px;
    }
    .img{
      height: 40vh;
    }
    .btn{
        display: flex;
        flex-direction: column;
    }
    .addToCart-button{
        margin-right: 30px;
        padding:  4px 36px 4px 46px;
    }
}