.product-section {
  margin: 0px 60px 0px 60px;
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.product-card {
  height: 86%;
  max-width: 100%;
  border: 1px solid #dce1e1;
  border-radius: 6px;
  color: #6b7070;
  cursor: pointer;
}

.product-card > img {
  width: 78%;
  height: 54%;
  margin: 0px 24px 22px;
}

.title {
  font-size: 14px;
  margin: 0px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px;
}

.price-delivery-rating {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.rate {
  font-weight: bold;
  font-size: 22px;
  margin-left: 20px;
  color: rgba(31, 31, 31, 0.888);
}
.d-none{
  display: none;
}
.rate span:nth-child(2) {
  font-size: 10px;
  color: rgb(141, 149, 149);
  margin-left: 8px;
}
.delivery span {
  display: inline;
  padding: 6px;
  margin-left: 16px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bold;
  background-color: rgba(214, 226, 226, 0.21);
}

.rating {
  margin: 22px 20px 0px 20px;
}
.rating p {
  display: inline;
  background: rgb(3, 141, 99);
  color: rgb(255, 255, 255);
  padding: 6px 8px;
  border-radius: 20px;
}

/* Mobile devices (up to 767px) */
@media (max-width: 767px) {
  .product-section {
    display: grid;
    grid-template-columns: 1fr ;
    margin-top: 60px;
    width: 100vw;
  }
  .product-card {
    margin-bottom: 3rem;
    /* margin-left: rem; */
    height: 24rem;
    width: 18rem;
    border: 1px solid #dce1e1;
    border-radius: 6px;
    color: #6b7070;
    cursor: pointer;
  }
  .product-card-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }
  .product-card > img {
    width: 58%;
    height: 48%;
    margin: 0px 60px 0px;
  }
.title {
  font-size: 12px;
  margin: 10px 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px;
}
}
/* Tablet Styles (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  .product-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;
    max-width: 100vw;
  }
  .product-card {
    margin-bottom: 3rem;
    margin-left: 2rem;
    height: 24rem;
    max-width: 20rem;
    border: 1px solid #dce1e1;
    border-radius: 6px;
    color: #6b7070;
    cursor: pointer;
  }
  .product-card > img {
    width: 58%;
    height: 48%;
    margin: 0px 60px 0px;
  }
.title {
  font-size: 12px;
  margin: 10px 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 260px;
}
}
