.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  cursor: pointer;
}

.lay-data {
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
}

.close {
    background: red;
    height: 35px;
}
