.payment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    box-shadow: 0 0 8px 0px rgb(229, 191, 223);
    margin:7vw 0vw 0vw 18vw;
    width: 60vw;
    height: 60vh;
    background-color: rgba(217, 155, 236, 0.074);
}
.payment{
    width: 52vw;
    height: 56vh;
    display: grid;
   
    padding: 8px;
    
    
}
.payment h1{
    align-items: center;
    margin-left: 17vw;
}

.pay-detail{
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: start;
    margin-top: 2px;
}

.pay-detail input{
    height: 20px;
    margin-right: 2px;

}

.payment-option{
    position: relative;
}
#paymentValue{
    padding: 4px 220px;
}
.payment-option select{
    position: relative;
    left: 134px;
}

.card-detail{
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    bottom: 14px;
    text-align: start;
    margin-bottom: 2px;

}

.card-detail input{
    height: 20px;
    margin-right: 2px;
}

.goback{
    margin: 20px;
    padding: 6px;
    border-radius: 4px;
    background-color: rgb(159, 32, 137);

}
.goback span{
    color: white;
    padding: 20px;
}
